form{
margin-left: 300px;

margin-top: 20px;
}
body{

  background-color: #d3d3d38f;
color: #212529a3;
}
.ha{
  margin-bottom: -1px;

}
.asa{
margin-left: -5;
}
header{background-color: white;}

.aqa{float: right;

  

	width:80px;
	height:50px;
	
}
form{background-color: white;
padding-left: 30px;
padding-right: 13px;
padding-top: 22px;
margin-right: 10px;}
.re{

	
}

.input-group{
width: 200;
height: 200;
 

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
